<div class="col-md-4 p-0">
<img class="img-fluid zoom" alt="{{ site.data.web.mobilecms }}" height="100%" width="100%" 
src="{{ site.data.web.mobilecover }}"/>
<div class="p-3 p-md-5 axcora">
<h3><a href="{{ page.url }}" title="{{ site.data.web.mobilecms }}" class="link">{{ site.data.web.mobilecms }}</a></h3>
<ul class="nav nav-pills mb-3" id="pembuatanwebsite5-tab" role="tablist">
<li class="nav-item" role="presentation">
<button class="btn ms-1 active text-white axcora" id="pembuatanwebsite5info-tab" data-bs-toggle="pill" data-bs-target="#pembuatanwebsite5info" 
type="button" role="tab" aria-controls="info" aria-selected="true">Fitur</button>
</li>
<li class="nav-item" role="presentation">
<button class="btn  ms-1 text-white axcora" id="pembuatanwebsite5demo-tab" data-bs-toggle="pill" data-bs-target="#pembuatanwebsite5demo" 
type="button" role="tab" aria-controls="demo" aria-selected="false">Demo</button>
</li>
</ul>
<div class="tab-content p-1" id="pembuatanwebsite5-tabContent">
<div class="tab-pane fade show active" id="pembuatanwebsite5info" role="tabpanel" aria-labelledby="pembuatanwebsite5info-tab" tabindex="0">
<p><small>{{ site.data.web.mobile }}</small></p>
</div>
<div class="tab-pane fade" id="pembuatanwebsite5demo" role="tabpanel" aria-labelledby="pembuatanwebsite5demo-tab" tabindex="0">
<div class="ratio ratio-16x9">
<iframe src="https://www.youtube.com/embed/{{ site.data.web.mobilevideo }}" 
title="Pembuatan Website mobile web template themes"
loading="lazy"
class="rounded shadow"  allowfullscreen></iframe>
</div>
</div>
</div>
</div>
</div>