<div class="col-md-4 p-0">
<img class="img-fluid zoom" alt="{{ site.data.web.progresivewebapp }}" height="100%" width="100%" 
src="{{ site.data.web.pwacover }}"/>
<div class="p-3 p-md-5 axcora">
<h3><a href="" title="{{ site.data.web.progresivewebapp }}" class="link">{{ site.data.web.progresivewebapp }}</a></h3>
<ul class="nav nav-pills mb-3" id="pembuatanwebsite2-tab" role="tablist">
<li class="nav-item" role="presentation">
 <button class="btn ms-1 active text-white axcora" id="pembuatanwebsite2info-tab" data-bs-toggle="pill" data-bs-target="#pembuatanwebsite2info" 
type="button" role="tab" aria-controls="info" aria-selected="true">Fitur</button>
 </li>
 <li class="nav-item" role="presentation">
 <button class="btn  ms-1 text-white axcora" id="pembuatanwebsite2demo-tab" data-bs-toggle="pill" data-bs-target="#pembuatanwebsite2demo" 
type="button" role="tab" aria-controls="demo" aria-selected="false">Demo</button>
 </li>
</ul>
<div class="tab-content p-1" id="pembuatanwebsite2-tabContent">
 <div class="tab-pane fade show active" id="pembuatanwebsite2info" role="tabpanel" aria-labelledby="pembuatanwebsite2info-tab" tabindex="0">
 <p>{{ site.data.web.pwa}}</p>
 <p><small><a href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor" class="text-white">Blazor Web Assembly WAM</a> ,{{ site.data.web.pwatech1}}</small></p>
 <p><a href="{{ site.data.web.pwalink }}" class="btn btn-light">{{ site.data.web.pwabtn }}</a></p>
 </div>
 <div class="tab-pane fade" id="pembuatanwebsite2demo" role="tabpanel" aria-labelledby="pembuatanwebsite2demo-tab" tabindex="0">
 <div class="ratio ratio-16x9">
 <iframe src="https://www.youtube.com/embed/{{ site.data.web.pwavideo}}" 
 title="Pembuatan Website progresive web app"
 loading="lazy"
 class="rounded shadow"  allowfullscreen></iframe>
</div>
  </div>
</div>
</div>
</div>