---
permalink: 404.html
eleventyExcludeFromCollections: true
---
<div class="container">
<div class="row">
<div class="col-md-10 mx-auto p-3 p-md-5 text-center mt-5 mb-5">
<h1 class="title">404</h1>
<h2>Content not found</h2>
<p class="text-center p-3">
<a href="index.njk" class="btn btn-primary">Back to Home</a>
</p>
</div>
</div>
</div>