---
layout: layouts/contact.njk
title: Hubungi axcora technology
description: Jika membutuhkan informasi seputar mesin kasir , aplikasi kasir dan pembuatan website modern, maka hubungi tim kami .
slogan: Contact Us.
map: 
 image: /img/map.png
 link: https://maps.app.goo.gl/qwhz8wCUqMvJd6Kn9
company: 
 name: Axcora Technology
 address: Ruko Pasar Wisata Juanda Q.07
 city: Juanda - Sidoarjo
 country: Indonesia.
 phone: +6287819355589
 email: axcora@gmail.com
---
