---
layout: layouts/home.njk
slogan: The Axcora Technology
title: Solusi mesin kasir pos aplikasi kasir dan modern website
description: Kembangkan bisnis dan usaha mu bersama teknologi kami untuk solusi terbaik, dengan digital teknologi dalam implementasi system aplikasi , maupun layanan pembuatan website modern terintegrasi. Mesin kasir pos point of sale dengan desain slim modern awet dan tahan lama dalam menunjang bisnis usaha mu. Saatnya revolusi digital bisnis mu dimulai sekarang.
intro: 
 - icon: /img/pos.svg
   title: Pos
   text: Mesin kasir point of sale untuk minimarket toko supermarket dengan barcode system .maupun untuk restoran cafe rumah makan dengan waiters kitchen dan kasir hingga admin terintegrasi.
 - icon: /img/cloud.svg
   title: App
   text: Applikasi bisnis untuk kebutuhan transaksi dan pembukuan mudah digunakan dan memiliki kemampuan integrasi dengan website maupun toko online shop hingga penggunaan skema whatsapp online order.
 - icon: /img/web.svg
   title: Web
   text: Era pengembangan website modern dengan teknologi website cepat untuk kebutuhan SEO dengan JAMSTACK dan flatfile CMS teknologi dalam penerapan untuk peforma terbaik situs mu.
product: 
 - title: Mesin Kasir Pos
   text: All in one touchscreen persembahan dari asus technology dengan tingkat senisitifitas tinggi dan berorientasi pada kestabilan dengan OS windows, akan memudahkan transaksi kasir lebih cepat , dengan desain material mewah di dalam nya membuat perangkat kasir anda tahan lama dalam digunakan, selain itu dukungan penuh bekerja dengan offline software proggram kasir dekstop maupun cloud aplikasi kasir online semakin fleksibel memilih type mesin kasir sesuai dengan kebutuhan bisnis dan usaha.
   button: Informasi lebih lanjut tentang mesin kasir →
   link: /mesinkasir
 - title: Cloud App
   text: Percayakan teknologi aplikasi untuk bisnis usaha anda kepada kami, cloud app menjadikan lebih fleksibel untuk mendukung mobilitas bisnis secara penuuh, dan bukan hanya itu saja, nikmati kebebasan menggunakan pos app aplikasi kasir toko restoran dengan fitur terbaik, integrasi penuh dengan website , qrcode menu digital, whatsapp online order semakin menyempurnakan penggunaan aplikasi kasir toko restoran dalam digunakan menunjang bisnis usaha mu, dan tentu saja dengan android app untuk kemudahan owner cek laporan dan pelanggan mendapatkan informasi update dari bisnis usaha.
   button: Informasi lebih lanjut tentang cloud app →
   link: /aplikasikasir
 - title: Modern Website
   text: Dengan update alogritma google membuat sebuah project website bukan hanya desain saja , tetapi kita juga wajib memperhatikan peforma dan kecepatan situs untuk menjaga tingkat kesehatan situs, dan tentunya google juga sangat merekomendasikan situs yang memiliki peforma terbaik , dan kita dapat membangun project situs dengan teknologi modern seperti penggunaan JAMSTACK, static site generator, Headless CMS maupun flatifle CMS , era modern situs dimulai untuk project website mu, saatnya sekarang beralih ke teknologi pengembangan website modern.
   button: Informasi lebih lanjut tentang modern website →
   link: /pembuatanwebsite
---
