---
layout: layouts/project.njk
title: "Proyek Kode Sumber Terbuka"
description: "Daftar kode proyek sumber terbuka open source code gratis download untuk app , tema website dan pembelajaran."
intro: Kode Sumber Terbuka
code:
 - name: Astronot CSS
   text: CSS Framework untuk kebutuhan mu dalam mengembangkan situs yang unik menarik dengan berbagai pilihan starter teknologi pengembangan situs yang bisa kamu pilih sesuai dengan framework dan teknologi yang kamu suka untuk membantu mu dalam mengembangkan situs yang unik.
   button: Kunjungi Astronot CSS →
   link: https://astronot.axcora.com/
 - name: Get Axcora CMS
   text: Sebuah teknologi modern content management system CMS untuk membuat situs yang lebih ringan , ramping , lebih cepat dan penuh SEO, bekerja tanpa database , serta dilengkapi dengan backend admin CMS untuk kemudahan bekerja, kemudahan untuk menjalankan nya pada PHP hosting menyempurnakan kebutuhan untuk membangun situs mu penuh akses pada cloud hosting PHP mu.
   button: Dapatkan Get Axcora CMS →
   link: https://axcora.com/getaxcoracms/
 - name: Flatfile Bludit CMS
   text: Sebuah project yang secara khusus dipersembahkan untuk bludit flatfile cms dengan berbagai pilihan tema, agar memudahkan pengguna dalam implementasi kebutuhan pengembangan dan pembuatan website dengan mudah dan cepat ,serta memiliki kemampuan SEO terbaik.
   button: Kunjungi Bludit Project →
   link: https://bludit.axcora.com/
 - name: Pico Markdown PHP
   text: Sebuah project yang secara khusus diperuntukan pada pecinta flatfile cms, dimana dengan project ini kita akan merasakan bagaimana sensasi membuat website menggunakan JAMSTACK teknologi tetapi berjalan pada PHP hosting mu, selain itu kita juga akan banyak belajar penggunaan markdown dan YAML files, layaknya sebuah static site generator modern pada umumnya.
   button: Kunjungi Pico Project →
   link: https://pico.axcora.com/
 - name: CMS Sekolah
   text: Content Management System special untuk sekolah dan pendidikan dengan hadirnya sekolah cms ini, dengan lengkap nya kode sumber terbuka memudahkan mu untuk mengembangkan sesuai dengan kebutuhan , dilengkapi dengan backend admin cms dan frotend display untuk situs web sekolah, yang bisa kamu dapatkan gratis full kode sumber terbuka.
   button: Kunjungi CMS Sekolah →
   link: https://axcora.com/cmssekolah
 - name: Larapos
   text: Sebuah aplikasi untuk kebutuhan bekerja dapat dipergunakan dalam mencatat pembukuan dan melakukan transaksi dengan mudah nya, berbasis web app memudahkan untuk kebutuhan deploy pada cloud host, dan memudahkan pengguna secara efekktif dan mobilitas penuh untuk bekerja dengan sempurna. Ini adalah kode sumber terbuka yang dikembangkan menggunakan laravel the php artisan untuk membantu dalam pembukuan dan transaksi untuk bisnis dan usaha.
   button: Informasi Larapos →
   link: https://www.hockeycomputindo.com/2020/09/aplikasi-toko-gratis-download.html
 - name: E-learn Free
   text: Pengembangan untuk kebutuhan test serta dapat digunakan untuk ujian online menggunakan aplikasi ini, dapat di deploy ke cloud hosting memudahkan dalam proses pembuatan website app untuk kebutuhan guru dan murid dalam proses belajar mengajar, ini adalah kode sumber terbuka yang bisa kamu unduh secara gratis untuk proyek webapp mu.
   button: Kunjungi Elearn Free →
   link: https://axcora.com/e-learndownload/
 - name: Lablog
   text: Buat situs dengan menggunakan laravel php artisan untuk kebutuhan ngeblog kamu, untuk kebutuhan peforma dan kecepatan maka sqlite adalah solusi terbaik dalam kebutuhan implementasi database, dan lablog menggunakan sqlite db untuk dukungan penuh kecepatan untuk situs laravel modern mu.
   button: Kunjungi Lablog →
   link: https://axcora.com/lablog
 - name: Symfony Full App
   text: Project ini adalah all in one web application - artinya selain content management system untuk kebutuhan dalam membuat website berbasis symfony , juga tersedia aplikasi pembukuan untuk mencatat semua pembukuan mulai inventori stok, keuangan, dan lain sebagai nya, tentunya ini adalah kode sumber terbuka yang bisa kamu kembangkan dan sesuaikan dengan kebutuhan bisnis mu.
   button: Kunjungi Symfony Full App →
   link: https://axcora.my.id/symfowebapp/public/
 - name: Tema Website
   text: Dan untuk kebutuhan tema website dengan berbagai teknologi seperti python django flask, react, angular, gatsby js, next js, svelte, astro js, eleventy 11ty, jekyll , blazor , dan berbagai cms lain nya, kami juga menyediakan halaman yang super lengkap untuk kebutuhan tema situs mu, dan tentunya dengan kode sumber terbuka untuk kemudahan mu mengembangkan sesuai dengan kebutuhan proyek mu.
   button: Kunjungi Tema Webite →
   link: https://www.hockeycomputindo.com/themes/
date: 2024-04-21
tags:
  - kode
  - gratis
  - download
  - kode sumber terbuka
  - source code
---
