---
layout: layouts/sponsor.njk
title: "Terima Kasih kepada Sponsor Pendukung kami"
description: "Proyek sumber terbuka kami di sponsori oleh mereka yang memberikan dukungan kepada kami untuk terus memberikan yang terbaik untuk digunakan pada mereka yang membutuhkan, baik dipergunakan untuk app tema tampilan starter maupun untuk tujuan pembelajaran."
intro: Sponsor Kami
sponsor:
 - image: /img/grandlimousine.png
   name: Grand Limousine
   text: "Sebuah perusahaan di bidang transportasi darat melayani kebutuhan rental sewa mobil mewah, seperti limusin, bis, dan berbagai lain nya, perusahaan ini berbasis di amerika dan memiliki banyak armada unit kendaraan fokus bisnis pada area georgia, USA - dengan wilayah macon, warner robins, nashville, savanah , austin , atlanta , houston, jacksonville , jhons creek , jacksonville, tampa, tomball , miami, columbus, dublin, destin , atlanta , athens, alpherta ,augusta, cypress dan berbagai wilayah lain nya."
   button: Kunjungi grandlimousine website →
   link: https://www.grandlimousine.com/
 - image: /img/adamdj.png
   name: Adam Dj Brett
   text: "Adam DJ Brett memperoleh gelar Ph.D. dalam bidang agama dari Universitas Syracuse. Beliau adalah Manajer Operasional dan Rekan Peneliti Internasional di American Indian Law Alliance (AILA). Selain itu, dia adalah koordinator hibah & acara untuk Proyek Doktrin Penemuan di Universitas Syracuse bersama Profesor Philip P. Arnold, yang merupakan Penyelidik Utama. Proyek ini sebagian didanai oleh Henry Luce Grant “200 Tahun Johnson v. McIntosh.” Secara profesional Adam telah bekerja sebagai pengembang web selama lebih dari satu dekade. Dia menikmati proyek-proyek yang memungkinkan dia untuk mengintegrasikan studi akademis agama dengan isu-isu kontemporer dan pengembangan web."
   button: Kunjungi adam website →
   link: https://www.adamdjbrett.com/
 - image: /img/hockeycomp.jpg
   name: Hockey Computindo
   text: "Induk dari axcora teh yang memiliki lini bisnis dalam pengembangan website aplikasi untuk tujuan membantu proses pembukuan , transaksi , dan rangkuman laporan dengan menggunakan teknologi cloud modern memungkinkan pengguna untuk bekerja secara online dengan berbagai perangkat, dan penyedia kebutuhan khusus nya pada mesin kasir sesuai dengan kebutuhan bidang industri , selain itu memiliki team developer dalam pengembangan situs dan pembuatan tema khusus nya untuk teknologi web modern terbaru."
   button: Kunjungi hockey computindo website →
   link: https://www.hockeycomputindo.com/
 - image: /img/vercels.avif
   name: Vercel
   text: "Situs ini ditenagai dan didukung penuh dengan menggunakan vercel sebagai server hosting untuk menjalankan modern JAMSTACK web ini dalam proses pengembangan nya."
   button: Kunjungi vercel website →
   link: https://www.vercel.com/
 - image: /img/cloudflares.jpg
   name: Cloudflare
   text: "The Axcora technology menggunakan cloudflare CDN dalam kebutuhan untuk Solusi keamanan SSL dan berbagai fitur lain nya untuk mengembangkan JAMSTACK website modern ini dalam penerapan nya."
   button: Kunjungi cloudflare website →
   link: https://www.cloudflare.com
 - image: /img/11tys.png
   name: Eleventy 11ty
   text: "Situs ini secara penuh dibangun menggunakan modern JAMSTACK terbaru dengan 11ty aka eleventy untuk kebutuhan pengembangan situs statis yang mendukung penuh peforma kecepatan kestabilan dan SEO secara default untuk di gunakan."
   button: Kunjungi Eleventy 11ty website →
   link: https://11ty.dev
 - image: /img/creativitas.webp
   name: Creativitas
   text: "Pengembang website atau keren disebut web developer yang membantu dalam merancang konsep situs ini, menerapkan implementasi sesuai aspek dan kebutuhan axcora , serta injeksi auto SEO script di dalam project ini untuk kebutuhan menjaga stabilitas , peforma , keamanan, kecepatan dan SEO."
   button: Rekrut Creativitas dev →
   link: https://fiverr.com/creativitas
 - image: /img/axcoratech.avif
   name: Saat nya anda
   text: "Dan ya anda dapat mendukung kami dengan menjadi sponsor pada project kode sumber terbuka kami, kami akan memasang logo gambar dan memberikan backlink untuk situs anda top project repo kami.serta situs open source code project kami. Pelajari paket sponsor yang anda pilih dan mulai dukung tim pengembanga kode sumber terbuka kami sekarang."
   button: Jadi Sponsor Sekarang →
   link: https://github.com/sponsors/mesinkasir
date: 2024-04-21
tags:
  - sponsor
  - github sponsor
  - sponsor source code
  - sponsor kode sumber terbuka
---
