---
layout: layouts/versi.njk
title: "Axcora technology Version"
description: "Versi web app axcora website app technology"
intro: Axcora Version
code:
 - name: Axcora V.2
   text: Sebelumnya website ini pada versi 1.5.6 dibangun dengan menggunakan jekyll static site generator, dan saat ini axcora versi 2.0.1 migrasi teknologi dan dibangun menggunakan eleventy 11ty versi terbaru saat ini yaitu versi 3.0.0-alpha.9 dengan injeksi beberapa plugin pendukung peforma seperti PWA , eleventy image dan berbagai lain nya, host dan CDN SSL di dukung oleh cloudflare, konsep desain simple dan memiliki informasi untuk pelanggan memprioritaskan peforma dan kecepatan untuk kebutuhan SEO.
   button: Kunjungi Axcora V.2 →
   link: https://www.axcora.com/
 - name: Axcora V.1
   text: Old school atau versi lawas axcora masih di pertahankan saat ini , dibangun menggunakan MODX revolution content management framework dan berjalan pada PHP hosting, SSL CDN menggunakan cloudflare, pada versi lawas ini special dan khusus dipergunakan untuk deploy situs yang berbasis PHP maupun Python Django .
   button: Kunjungi Axcora V.1 →
   link: https://axcora.com/
 - name: POS Mesin Kasir
   text: Sub site yang dibangun dengan menggunakan teknologi modern menggunakan astro js,dan dideploy pada vercel host , pada proses development nya menggunakan versi 1 dari astro js , dan kebutuhan situs ini dipergunakan untuk memberikan informasi mengenai mesin kasir device.
   button: Kunjungi POS-X →
   link: https://pos.axcora.com/
 - name: Program Toko Chrompos
   text: Sub site yang berisi penjelasan mengenai program toko software toko desktop chrompos version , dibangun menggunakan React JS dengan menggunakan online IDE stackblitz dan di deploy pada cloudflare, situs ini berisi mengenai apa saja fitur yang tersedia pada program toko software toko chrompos.
   button: Kunjungi Chrompos →
   link: https://programtoko.axcora.com/
 - name: POS-X Web App
   text: Sub site yang dipergunakan untuk memberikan informasi mengenai aplikasi toko pos-x web app, dibangun menggunakan jekyll dan di deploy pada google firebase untuk mencoba merasakan sensasi menggunakan firebase server, pada site ini akan memberikan informasi mengenai apa saja fitru dari aplikasi toko pos-x.
   button: Kunjungi POS-X WebApp →
   link: https://posx.axcora.com/
 - name: Lava Web App
   text: Sub site yang dipergunakan khusus memberikan informasi detail bagaimana aplikasi penjualan kasir toko grosir dan eceran bekerja, dibangun menggunakan eleventy 11ty V.2 Canary dan di deploy pada vercel. Penggunaan site ini untuk menjelaskan mengenai apa saja fitur yang ada pada aplikasi toko grosir dan eceran lava app.
   button: Informasi Lava WebApp →
   link: https://lava.axcora.com/
 - name: Robopos WebApp
   text: Sub site yang berisi informasi mengenai bagaimana robopos bekerja , dibangun dengan menggunakan static site generator eleventy versi 1 dengan tailwind css dan berjalan pada netlify server.
   button: Kunjungi Robopos →
   link: https://robopos.axcora.com/
 - name: Unipos Resto
   text: Site yang berisi mengenai informasi bagaimana software program restoran offline desktop versi secara detail bekerja, dengan detail informasi dan video pendukung, dibangun menggunakan eleventy versi 3 dan tersedia source code untuk digunakan bagi pengguna pada github repo kami.
   button: Informasi Unipos →
   link: https://programrestoran.axcora.com/
 - name: Mr. RestoPos
   text: Sub site ini memberikan informasi mengenai bagaimana bekerja dengan mr. restopos web app, project ini dibangun menggunakan Next Js versi 13 dan berjalan pada Verel host pencipta Next js react framework.
   button: Kunjungi Mr. Resto Pos →
   link: https://mr-resto.axcora.com/
 - name: Resto-X Web App
   text: Site yang berisi mengenai informasi bagaimana bekerja dengan resto-x web app , lengkap dengan fitur dan video pendukung untuk mediasi penyampaian materi mengenai aplikasi restoran, site ini dibangun menggunakan Astro Js.
   button: Informasi Resto-X →
   link: https://restox.axcora.com/
 - name: Resto App
   text: Site yang dibangun untuk mengelompokan aplikasi restoran, software program restoran axcora technology, site ini dibangun menggunakan symfony php framework dalam proses development nya, dipergunakan untuk menyampaikan informasi mengenai aplikasi restoran.
   button: Kunjungi Resto App →
   link: https://resto.axcora.com/
 - name: Start Axcora
   text: Site yang dipergunakan sebagai halaman informasi mengenai apa saja yang disediakan oleh axcora technology team developer kepada pengunjung dan pelanggan, proses development project situs ini dibangun menggunakan node js.
   button: Informasi Start Axcora →
   link: https://start.axcora.com/
 - name: Toko App
   text: Sub site yang dipergunakan untuk mengelompokan produk mengenai apa saja yang disediakan oleh axcora team developer, khusus nya pada kebutuhan program toko,softwar toko, aplikasi toko, project ini dibangun menggunakan laravel the php artisan.
   button: Kunjungi Toko App →
   link: https://toko.axcora.com/
 - name: Office App
   text: Site yang dipergunakan untuk mengelompokan mengenai aplikasi office seperti aplikasi invoice dan akuntansi yang di sediakan oleh axcora team developer, project ini dibangun menggunakan code igniter dalam proses pengembangan nya.
   button: Informasi Office App →
   link: https://office.axcora.com/
 - name: School App
   text: Directori versi 1 website axcora yang dipergunakan untuk memberikan informasi mengenai aplikasi sekolah, dan project ini dibangun menggunakan content management framework MODX revolution.
   button: Kunjungi Aplikasi Sekolah →
   link: https://axcora.com/sekolah.html
 - name: Get Axcora CMS
   text: Direktori site yang secara khsusus dipergunakan untuk memberikan informasi dokumentasi dan halaman unduhan untuk proyek kode sumber terbuka kami, berbasis content management system, project ini dibangun menggunakan get axcora cms.
   button: Informasi Get Axcora CMS →
   link: https://axcora.com/getaxcoracms/
 - name: Astronot CSS
   text: Sub site yang dipergunakan untuk memberikan informasi dan dokumentasi serta unduhan untuk starter project dengan berbagai teknologi dalam bekerja menggunakan proyek kode sumber terbuka astronot css, situs ini dibangun menggunakan native html.
   button: Kunjungi Astronot CSS →
   link: https://astronot.axcora.com/
 - name: Source Code
   text: Direktori situs untuk kebutuhan mengelompokan kode sumber terbuka dari axcora developer untuk kemudahan pelanggan mengunduh dan mendapatkan informasi detail, situs ini dibangun menggunakan eleventy 11ty dengan konsep build production untuk di upload ke PHP hosting.
   button: Informasi Source Code →
   link: https://axcora.com/sourcecode/
 - name: CMS Sekolah
   text: Sub direktori yang di gunakan untuk memberikan informasi serta dokumentasi dan halaman unduhan khusus untuk kebutuhan content management system sekolah CMS, project ini dibangun menggunakan native PHP.
   button: Kunjungi CMS Sekolah →
   link: https://axcora.com/cmssekolah/
 - name: Lablog
   text: Direktori halaman yang berisi mengenai project sumber terbuka open source code kami khusus nya pada proyek laravel the php artisan blog, serta halaman unduhan untuk memudahkan pengguna menggunakan lablog , site ini dibangun menggunakan laravel dengan sqlite database.
   button: Informasi Lablog →
   link: https://axcora.com/lablog/
 - name: E-Learn App
   text: Direktori halaman khusus untuk memberikan informasi dan dokumentasi penggunaan e-elarn app aplikasi belajar mengajar yang dapat digunakan untuk tujuan mendukung proses belajar mengajar guru dan murid maupun pembelajaran , proyek ini dibangun menggunakan native PHP.
   button: Kunjungi E-Learn App →
   link: https://axcora.com/e-learndownload/
 - name: E-Rapot Online
   text: Halaman yang dipergunakan untuk memberikan informasi dan media demo dalam rapot online app - yang bekerja untuk memberikan penilaian rapot secara online , proyek ini dibangun menggunakan PHP native.
   button: Informasi E-Rapot →
   link: https://axcora.com/rapot/
 - name: Optimasi Web
   text: Sub Site yang berisi mengenai informasi tentang layanan axcora team developer, khusus nya untuk kebutuhan bagaimana cara optimasi website dan menambah kecepatan serta dukungan untuk SEO, site ini dibangun menggunakan eleventy 11ty.
   button: Informasi Optimasi Web →
   link: https://optimasiwebsite.axcora.com/
 - name: Android Dev App
   text: Website yang berisi mengenai dan tentang layanan axcora team developer dalam hal pembuatan aplikasi android mobile, pada proses pengembangan nya situs ini dibangun dengan menggunakan python flask.
   button: Informasi Android Dev App →
   link: https://android.axcora.com/
 - name: Black Car
   text: Website yang berisi mengenai layanan pembuatan website dengan dukungan SEO secara penuh, proyek ini dikembangkan dan dibangun menggunakan svelte dengan produksi build, yang diterpakan dan berjalan pada PHP hosting.
   button: Informasi Black Car →
   link: https://blackcar.axcora.com/
 - name: Car Dealer
   text: Website yang memberikan informasi mengenai layanan pembuatan website special dan fokus pada mobil kendaraan, dengan konsep whatsapp order maupun direct email order, proyek ini dikembangkan dan dibangun menggunakan fullstack python Django.
   button: Informasi Car Dealer →
   link: https://cardealer.axcora.com/
 - name: Grand Limousine
   text: Sub site yang dipergunakan untuk kebutuhan layanan dalam pembuatan website rent car mobil dan limousin , dengan mengusung konsep dark mode, dan proyek ini di develop menggunakan eleventy 11ty.
   button: Informasi Grand Limo →
   link: https://grandlimousine.axcora.com/
 - name: Property Web
   text: Sebuah proyek yang secara khusus dipergunakan dalam implementasi pengerjaan proyek property seperti jual beli sewa kontrak untuk rumah villa apartement dan lain nya, proyek ini dibangun menggunakan fullstack python django.
   button: Informasi Property Web →
   link: https://property.axcora.com/
 - name: Web Dev
   text: Sebuah kode sumber terbuka yang dibangun menggunakan python untuk tujuan pembelajaran, dan sekaligus pada proyek ini memberikan informasi mengenai layanan pembuatan website axcora technology.
   button: Informasi Web Dev →
   link: https://webdev.axcora.com/
 - name: Bludit Axcora
   text: Sebuah proyek secara khusus dibangun untuk kebutuhan tema desain template pada pengguna bludit flatfile cms, pada proyek ini sendiri berisi mengenai kode sumber terbuka kami dan premium tema kami, site ini juga dibangun menggunakan bludit flatfile cms.
   button: Informasi Bludit Axcora →
   link: https://bludit.axcora.com
 - name: Pico Axcora
   text: Proyek kode sumber terbuka kami untuk kebutuhan mengembangkan situs modern menggunakan konsep markdown dan YAML layaknya static site generator, proyek ini berjalan pada PHP hosting, dan dibangun menggunakan markdown PHP flatfile CMS pico dengan symfony framework.
   button: Informasi Pico Axcora →
   link: https://pico.axcora.com
date: 2024-04-21
tags:
  - versi
  - axcora
  - type
  - mode
  - source code
---
