  <div class="container">
<div class="row">
<div class="col-md-5 p-3">
<div class="p-3 p-md-5 axcora rounded">
<h3><strong><a href="{{page.url}}" title="{{page.title}}{{site.data.resto.bangresto}}" class="link">{{site.data.resto.bangresto}}</a></strong></h3>
 <img class="img-fluid rounded zoom" loading="lazy" width="100%" height="100%" alt="{{page.title}}{{site.data.resto.bangresto}}" 
src="{{site.data.resto.bangrestocover}}"/>
</div>
</div>
<div class="col-md-7 p-3">
<ul class="nav nav-pills mb-3" id="aplikasiresto-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="btn ms-1 active text-white axcora" id="info-tab" data-bs-toggle="pill" data-bs-target="#info-resto1" 
	type="button" role="tab" aria-controls="info" aria-selected="true">Fitur</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="btn  ms-1 text-white axcora" id="demo-tab" data-bs-toggle="pill" data-bs-target="#demo-resto1" 
	type="button" role="tab" aria-controls="demo" aria-selected="false">Demo</button>
  </li>
  <li class="nav-item">
    <a href="{{site.data.resto.bangrestodownload}}" class="btn  ms-1 text-white axcora">Download</a>
  </li>
</ul>
<div class="tab-content p-3" id="aplikasiresto-tabContent">
  <div class="tab-pane fade show active" id="info-resto1" role="tabpanel" aria-labelledby="info-resto1-tab" tabindex="0">
  <p>{{site.data.resto.bangrestoinfo}}</p>
  <p><small>
 {{site.data.resto.bangrestofitur1}}
<br/>{{site.data.resto.bangrestofitur2}}
<br/>{{site.data.resto.bangrestofitur3}}
<br/>{{site.data.resto.bangrestofitur4}}
<br/>{{site.data.resto.bangrestofitur5}}
<br/>{{site.data.resto.bangrestofitur6}}
<br/>{{site.data.resto.bangrestofitur7}}
<br/>{{site.data.resto.bangrestofitur8}}
  </small></p>
  <p><a href="{{site.data.resto.bangrestolink}}" class="btn btn-light">{{site.data.resto.bangrestobtn}}</a></p>
  </div>
  <div class="tab-pane fade" id="demo-resto1" role="tabpanel" aria-labelledby="demo-resto1-tab" tabindex="0">
  <div class="ratio ratio-16x9">
  <iframe src="https://www.youtube.com/embed/{{site.data.resto.bangrestovideo}}" 
  title="Aplikasi restoran cafe rumah makan kasir"
  loading="lazy"
  class="rounded shadow"  allowfullscreen></iframe>
</div>
  </div>
</div>

</div>
</div>
</div>
