<div class="container-fluid  text-white">  
<div class="row">
<div class="col-md-12 p-0">
<img class="img-fluid" alt="{{page.title}}" height="100%" width="100%" src="{{page.cover}}"/>
</div>
<div class="col-md-12 p-3 p-md-5">
<div class="p-3 p-md-5 text-center axcora rounded">
<h1 class="display-4"><strong><a href="{{page.url}}" title="{{page.title}}" class="link">{{page.title}}</a></strong></h1>
<h2>{{page.description}}</h2>
<p><a href="{{page.unduh}}" class="btn btn-light">Download POS Touchscreen</a></p>
</div>
</div>
{% include pos/intro.html %}
{% include pos/product.html %}
{% include widget/info.html %}
{% include widget/footer.html %}	
</div>
</div>