<div class="col-md-6">
<div class="row">
<div class="col-md-12 p-0">
<img class="img-fluid zoom" alt="" height="100%" width="100%" 
src="{{ site.webcover2 }}"/>
<div class="p-3 axcora">
<h3><strong><a href="/" class="link">{{ site.contact }}</a></strong></h1>
<p>{{ site.contactinfo }}</p>
<form action="https://airform.io/axcora@gmail.com" method="post">
<input class="form-control mb-1 mt-1" type="text" name="name" placeholder="No Whatsapp & Nama">
<textarea class="form-control mb-1 mt-1"  name="message" placeholder="Masukan pesan anda.."></textarea>
<button class="btn btn-outline-light col-12 mt-1 mb-3">{{ site.contactbtn }}</button>
</form>
<p>{{ site.title }}<br/>{{ site.address }}<br/>Call Us : {{ site.phone }}<br/>Whatsapp : {{ site.whatsapp }}</p>
</div>
</div>
</div>
</div>
