<div class="col-md-3 p-0">
<img class="img-fluid zoom" alt="{{ site.data.start.icontitle2 }}" height="100%" width="100%" 
src="{{ site.webcover1 }}"/>
</div>
{% include widget/form.html %}
<div class="col-md-3 p-0">
<img class="img-fluid zoom" alt="{{ site.data.start.icontitle1 }}" height="100%" width="100%" 
src="{{ site.webcover3 }}"/>
</div>
<div class="col-md-12 p-0">
<img class="img-fluid" alt="{{ site.data.start.icontitle1 }}" height="100%" width="100%" 
src="{{ site.webcover4 }}"/>
</div>