<title>{{ page.title }}</title>
{% feed_meta %}
{% seo %}
<link rel="canonical" href="{{page.url}}" />
<meta content='{{page.cover}}' name='twitter:image'/>
<meta content='{{page.cover}}' name='facebook:image'/>
<link rel="icon" type="image/x-icon" href="assets/img/axcora.png" />
<meta content='https://www.facebook.com/{{site.social.facebook}}' property='facebook:author'/>
<meta content='{{page.description}}' property='facebook:description'/>
<meta content='{{page.description}}' name='twitter:description'/>
<meta content='index, follow' name='robots'/>
<meta content='{{site.url}}' property='twitter:author'/>
<meta content='{{site.url}}' name='twitter:site'/>
<meta content='https://www.fiverr.com/creativitas' name='developer'/>