<meta name="google-site-verification" content="Xi3WpckDbMBvm1pdlc5XukNoA9uWDmnExIiOeaTOxq0" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{title or metadata.title}}</title>
<meta content='{{title or metadata.title}}' property='og:title'/>
<meta content='{{title or metadata.title}}' name='twitter:title'/>
<meta content="{{ title or metadata.title}}" name="title" >
<meta content="{{title or metadata.title}}" property="og:site_name" />
<meta content='{{description or metadata.description}}' name='description'/>
<meta content='{{description or metadata.description}}' property='facebook:description'/>
<meta content='{{description or metadata.description}}' property='og:description'/>
<meta content='{{description or metadata.description}}' name='twitter:description'/>
<meta property="twitter:card" content="summary_large_image">
<meta content='{{image or metadata.image}}' name='twitter:image'/>
<meta content='{{image or metadata.image}}' name='facebook:image'/>
<meta content='{{image or metadata.image}}' name='og:image'/>
<link href="{{metadata.favicon}}" rel="icon" type="image/x-icon"/>
<meta content='{{metadata.url}}' property='facebook:author'/>
<meta content='{{metadata.url}}' property='twitter:author'/>
<meta content='{{metadata.url}}{{page.url}}' name='twitter:site'/>
<meta property="og:type" content="website">
<link rel="canonical" href="{{metadata.url}}{{page.url}}" />
<meta content='https://www.fiverr.com/creativitas' name='developer'/>
<meta content='#0000' name='theme-color'/>
<meta content='#0000' name='msapplication-navbutton-color'/>
<meta content='#0000' name='apple-mobile-web-app-status-bar-style'/>
<meta name="generator" content="{{ eleventy.generator }}">
<link rel="apple-touch-icon" href="{{metadata.favicon}}">
<meta content='index, follow' name='robots'/>
<script type="application/ld+json">
{"@context":"https://schema.org","@type":"WebSite","description":"{{description}}","headline":"{{metadata.title}} - {{title}} - {{description}}","name":"{{title}}","url":"{{metadata.url}}{{page.url}}"}
</script>