@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
  html,body,.offcanvas,.navbar-toggler {
 background-image: linear-gradient(to right top, #1a0318, #190419, #170519, #16051a, #14061a, #15061c, #16071e, #160720, #190725, #1b0829, #1e072e, #220632);
  font-family: 'Russo One', sans-serif;
  }
  a {
  text-decoration: none;
  }
  .axcora:hover { background-image: linear-gradient(to right top, #ff08b7, #eb00c4, #d100d1, #b101de, #871eea);}
  .link { 
  background: -webkit-linear-gradient(#E8F2F7, #E1D9B3, #FF35D5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 2px #E8F2F7, 0 0 20px #E1D9B3, 0 0 50px #FF35D5
  }
  .link:hover { color:white; }
.zoom {
  padding: 0px;
  transition: transform .5s; 
  margin: 0 auto;
}
button { background-image: transparent;}
.zoom:hover {
  transform: scale(1.2);
}