  <div class="container">
<div class="row">
<div class="col-md-5 p-3">
<div class="p-3 p-md-5 axcora rounded">
<h3><strong><a href="{{page.url}}" title="{{site.data.booking.rent}}" class="link">{{site.data.booking.rent}}</a></strong></h3>
 <img class="img-fluid rounded zoom" loading="lazy" width="100%" height="100%" alt="{{page.title}}{{site.data.booking.rent}}" 
src="{{site.data.booking.rentcover}}"/>
</div>
</div>
<div class="col-md-7 p-3">
<ul class="nav nav-pills mb-3" id="aplikasibooking-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="btn ms-1 active text-white axcora" id="info-tab" data-bs-toggle="pill" data-bs-target="#info-booking1" 
	type="button" role="tab" aria-controls="info" aria-selected="true">Fitur</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="btn  ms-1 text-white axcora" id="demo-tab" data-bs-toggle="pill" data-bs-target="#demo-booking1" 
	type="button" role="tab" aria-controls="demo" aria-selected="false">Demo</button>
  </li>
  <li class="nav-item">
    <a href="{{site.data.booking.rentdownload}}" class="btn  ms-1 text-white axcora">Download</a>
  </li>
</ul>
<div class="tab-content" id="aplikasibooking-tabContent">
  <div class="tab-pane fade show active" id="info-booking1" role="tabpanel" aria-labelledby="info-booking1-tab" tabindex="0">
  <p>{{site.data.booking.rentinfo}}</p>
  <p><small>
  {{site.data.booking.rentfitur1}}
<br/>{{site.data.booking.rentfitur2}}
<br/>{{site.data.booking.rentfitur3}}
<br/>{{site.data.booking.rentfitur4}}
<br/>{{site.data.booking.rentfitur5}}
<br/>{{site.data.booking.rentfitur6}}
  </small></p>
  <p><a href="{{site.data.booking.rentlink}}" class="btn btn-light">{{site.data.booking.rentbtn}}</a></p>
  </div>
  <div class="tab-pane fade" id="demo-booking1" role="tabpanel" aria-labelledby="demo-booking1-tab" tabindex="0">
  <div class="ratio ratio-16x9">
  <iframe src="https://www.youtube.com/embed/{{site.data.booking.rentvideo}}" 
  title="{{page.title}}{{site.data.booking.rent}}"
  loading="lazy"
  class="rounded shadow"  allowfullscreen></iframe>
</div>
  </div>
</div>

</div>
</div>
</div>
