<div class="col-md-4 p-0">
<div class="p-3">
<div class="axcora p-3 rounded">
<h3><strong><a href="/" title="{{ site.data.start.modernweb }}" class="link">{{ site.data.start.modernweb }}</a></strong></h3>
<p>{{ site.data.start.modernwebtext }}</p>
</div>
<hr/>
<div class="axcora p-3 rounded">
<h3><strong><a href="/" title="{{ site.data.start.cms }}" class="link">{{ site.data.start.cms }}</a></strong></h3>
<p>{{ site.data.start.cmstext }}</p>
</div>
<hr/>
<div class="axcora p-3 rounded mb-1">
<h3><strong><a href="/" title="{{ site.data.start.jamstack }}" class="link">{{ site.data.start.jamstack }}</a></strong></h3>
<p>{{ site.data.start.jamstacktext }}</p>
</div>
</div>
<img class="img-fluid zoom p-0" alt="{{ site.description }}" height="100%" width="100%" 
src="{{ site.data.start.webcover3 }}"/>
</div>
<div class="col-md-3 p-0">
<img class="img-fluid zoom" alt="{{ site.data.start.modernweb }}" height="100%" width="100%" 
src="{{ site.data.start.webcover4 }}"/>
<div class="p-3 mt-1">
<div class="axcora p-3 mt-1 rounded">
<h3><strong><a href="/" class="link">{{ site.data.start.freedoom }}</a></strong></h3>
<p>{{ site.data.start.freedoomtext }}</p>
<p><a href="{{ site.data.start.btn1link }}" class="btn btn-light">{{ site.data.start.btn1 }}</a> 
<a href="{{ site.data.start.btn2link }}" class="btn btn-outline-light">{{ site.data.start.btn2 }}</a></p>
</div>
</div>
</div>
{% include home/subsection.html %}