<div class="col-md-5 p-0">
<div class="p-3">
<div class="axcora p-3 rounded">
<h3><strong><a href="/" title="{{ site.data.start.aplikasitoko }}" class="link">{{ site.data.start.aplikasitoko }}</a></strong></h3>
<p>{{ site.data.start.apptoko }}</p>
</div>
<hr/>
<div class="axcora p-3 rounded">
<h3><strong><a href="/" title="{{ site.data.start.aplikasiresto }}" class="link">{{ site.data.start.aplikasiresto }}</a></strong></h1>
<p>{{ site.data.start.appresto }}</p>
</div>
<hr/>
<div class="axcora p-3 rounded">
<h3><strong><a href="/" title="{{ site.data.start.aplikasi }}" class="link">{{ site.data.start.aplikasi }}</a></strong></h3>
<p>{{ site.data.start.app }}</p>
</div>
</div>
<img class="img-fluid zoom p-0" alt="{{ site.data.start.aplikasitoko }} {{ site.data.start.aplikasiresto }}" height="100%" width="100%" src="{{ site.data.start.webcover5 }}"/>
</div>