---
layout: layouts/base.njk
---
<div class="container">
<div class="row mt-5">
<div class="col-md-10 mx-auto p-3 p-md-5">
<h1 class="lead col-md-8"><strong><small><a href="{{page.url}}" title="{{title}}">{{description}}</a></small></strong></h1>
<h2 class="title"><strong>{{title}}</strong></h2>
<p class="col-md-10 mt-3">{%- for tag in tags | filterTagList %}{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
<a href="{{ tagUrl }}" class="me-1" title="{{ tag }} {{title}}"><small>#{{ tag }}</small></a>
{%- if not loop.last %}{% endif %}{%- endfor %}</p>
</div>
</div>
</div>
<div class="container">
<div class="row">
<div class="col-md-10 mx-auto p-3">
<div class="ratio ratio-16x9 mb-3">
<iframe src="https://www.youtube.com/embed/{{video}}" title="{{title}}" loading="lazy" allowfullscreen></iframe>
</div>
{{ content |safe }}
</div>
<div class="col-md-10 mx-auto p-3">
<div class="border border-primary rounder p-3 p-md-5">
<h3><a href="{{page.title}}" title="{{product.title}}">{{product.title}}</a></h3>
<p>
Untuk mendapatkan informasi mengenai bagaimana spesifikasi dan fitur serta konsep kerja {{product.title}} , Kunjungi halaman informasi detail.
</p>
<p><a href="{{product.link}}">
Informasi lebih lanjut tentang {{product.title}} →
</a></p>
</div>
</div>
</div>
</div>
</div>

<div class="col-md-8 mx-auto">
{%- if collections.mesinkasirvideo %}
{%- set previousPost = collections.videomesinkasir | getPreviousCollectionItem %}
{%- set nextPost = collections.videomesinkasir | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<div class="row">
<div class="col-md-6 p-3">
{%- if previousPost %}
<div class="p-3 bg-dark rounder">
<p><small>← Terbaru</small></p>
<h3><a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></h3>
</div>
</div>
{% endif %}
<div class="col-md-6 p-3 text-end">
{%- if nextPost %}
<div class="p-3 bg-dark rounder">
<p><small>Selanjutnya →</small></p>
<h3><a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></h3>
</div>
</div>
{% endif %}
</div>
</div>
{%- endif %}
{%- endif %}
</div>